<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>New Week page</h1>
  <form action="/weeks" method="POST">
    <label>
      First Day:
      <input type="date" name="startDay" /><br />
    </label>
    <label>
      Habits: 
      <input type="checkbox" name="habit1" id="habit1">
      <label for="#habit1">habit1</label>
    </label>
    <input type="submit" name="" value="Create Week" />
  </form>
</body>
</html>