<%- include('./partials/header') %>

<div class="center-section">
    <div class="heading">
      <h2>Cool Planner App</h2>
    </div>
    <div class="container">
        <p>This is my cool planner app.</p>
    </div>
  </div>

<%- include('./partials/footer') %>