:root {
    --link-color: #ed5e4b;
    --primary-color: #284B63;
    --secondary-color: #FFFFFF;
    --primary-accent: #FFEAAE;
    --secondary-accent: #BBDBD1;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    font-family: Helvetica;
    word-wrap: break-word;
    background-color: var(--primary-color);
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--primary-color);
}

nav li {
    margin: 10px;
    display: inline;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-accent);
}

main {
    margin: 50px 10px 0 10px;
}

h1 {
    color: var(--secondary-color);
    font-size: 40px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    margin-bottom: 15px;
}

h3 {
    margin-bottom: 10px;
}

a {
    color: var(--link-color)
}

form {
    display: inline;
}

/* weeks show view */
/* week */
.week-view {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.day {
    background-color: var(--secondary-color);
    min-width: 200px;
    max-height: 600px;
    min-height: 255px;
    overflow: auto;
    grid-row: 1 / 3;
}

.saturday, .sunday {
    height: 297px;
}

.saturday {
    grid-row: 1 / 2;
}

.sunday {
    grid-row: 2 / 3;
}

.heading {
    display: flex;
    justify-content: space-between;
    background-color: var(--secondary-accent);
    padding: 5px 10px;
}

.day-content {
    padding: 10px;
}

.entries {
    margin-bottom: 25px;
}

.entries ul {
    padding-left: 12px;
}

.category {
    font-size: 13px;
}

.buttons {
    padding-left: 15px;
}

.submit-icon {
    background: none;
    border: none;
    color: var(--link-color);
    display: inline;
    font-size: 16px;
}

.submit-icon:hover {
    cursor: pointer;
}

/* habit tracker and goal sections */
.trackers {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.tracker-section {
    background-color: var(--secondary-color);
    display: inline;
    min-width: 500px;
}

.add-new {
    margin-top: 8px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 55px;
    text-align: center;
}

th, .habit-table-label {
    padding: 10px;
}

.habit-table-label {
    text-align: left;
    font-weight: bold;
}

.table-body {
    font-size: 22px;
}

.no-border {
    border-right: none;
    border-left: none;
}

.checked {
    background-color: var(--primary-accent);
}

/* week index page */
.weeks-list {
    width: 50%;
    background-color: var(--secondary-color);
}

.container {
    padding: 20px;
}