@font-face {
    font-family: "Hello";
    src: url("./fonts/Hello.ttf")
}
@font-face {
    font-family: "Caviar Dreams";
    src: url("./fonts/CaviarDreams_Bold.ttf")
}
@font-face {
    font-family: "Please";
    src: url("./fonts/Please\ write\ me\ a\ song.ttf")
}

:root {
    --link-hover-color: 204, 168, 233;
    --link-color: 172, 105, 190;
    --primary-color: 202, 222, 252;
    --secondary-color: 246, 255, 255;
    --primary-accent: 195, 190, 240;
    --secondary-accent: 222, 252, 249;
    --dark-color: 88, 61, 114;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Caviar Dreams", Helvetica, sans-serif;
    word-wrap: break-word;
    background-image: url(../ink.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(var(--dark-color));
}

/* home page */
#home-page-main {
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

#home-page-main>h1 {
    font-size: 80px;
}

#main-subheading {
    text-align: center;
    margin: 10px;
    color: rgba(var(--dark-color));
    background-color: rgba(var(--secondary-accent));
    padding: 10px;
}

/* nav styling */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: rgba(var(--primary-color), .6);
    overflow: hidden;
}

nav li {
    margin: 10px;
    display: inline;
}

nav a {
    text-decoration: none;
    font-family: "Please", Helvetica, sans-serif;
    font-size: 25px;
}

/* all pages */
main {
    height: 100vh;
    margin: 0 10px;
}

.title-section {
    padding-top: 70px;
}

h1 {
    font-family: "hello";
    color: rgba(var(--secondary-color));
    filter: drop-shadow(2px 2px 3px rgba(var(--dark-color)));
    font-size: 50px;
    margin-bottom: 30px;
    text-align: center;
}

h2 {
    font-family: "Please";
    font-size: 30px;
}

h3 {
    margin-bottom: 10px;
}

a {
    color: rgba(var(--link-color));
    text-decoration: none;
}

a:hover {
    color:rgba(var(--link-hover-color));
}

form {
    display: inline;
}

/* month view */
.month-view {
    display: flex;
    justify-content: space-around;
}

.month-section {
    min-width: 45vw;
}

/* weeks show view */
/* week */
.week-view {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-row-gap: 5px;
    grid-column-gap: 5px;
}

.day {
    background-color: rgba(var(--secondary-color), 0.4);
    min-width: 200px;
    min-height: 500px;
    overflow: auto;
    border: 1px solid rgba(var(--secondary-accent));
}

.heading {
    display: flex;
    justify-content: space-between;
    background-color: rgba(var(--secondary-accent));
    padding: 10px;
}

.weekday, .weekdate {
    display: inline;
}

.day-content {
    padding: 10px;
}

.first {
    margin-bottom: 25px;
}

.first ul {
    padding-left: 12px;
}

.category {
    font-size: 13px;
    color: rgba(var(--dark-color), 0.6);
}

.buttons {
    padding-left: 15px;
}

.submit-icon {
    background: none;
    border: none;
    color: rgba(var(--link-color));
    display: inline;
    font-size: 16px;
}

.submit-icon:hover {
    cursor: pointer;
    color: rgba(var(--link-hover-color));
}

/* habit tracker and goal sections */
.trackers {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.tracker-section {
    display: inline;
    min-width: 500px;
}

.add-new {
    margin-top: 8px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    min-width: 55px;
    text-align: center;
}

th, .habit-table-label {
    padding: 10px;
}

.habit-table-label {
    text-align: left;
    font-weight: bold;
}

.table-body {
    font-size: 22px;
}

.no-border {
    border-right: none;
    border-left: none;
}

.checked {
    background-color: rgba(var(--primary-accent));
}

.center-section {
    margin: 0 auto;
    width: 50%;
}

.container {
    background-color: rgba(var(--secondary-color), .4);
    border: 1px solid rgba(var(--secondary-accent));
    padding: 20px;
}

.back-link {
    margin-top: 8px;
    margin-left: 8px;
}

.back-link>a {
    background-color: rgba(var(--secondary-color), .4);
    padding: 2px;
}

input, textarea {
    outline: none;
    border: 1px solid rgba(var(--primary-accent));
}

textarea {
    font-family: sans-serif;
    resize: none;
    width: 400px;
    height: 200px;
}

.lower {
    margin-top: 10px;
}