<%- include('../partials/header') %>

<form action="/weeks/<%= weekId %>/goals" method="POST">
    <label>
        New Goal: 
        <input type="text" name="content">
    </label>
    <input type="submit" name="" value="Add Goal" />
</form>

<%- include('../partials/footer') %>