<%- include('../partials/header') %>

<form action="/weeks/<%= weekId %>/days/<%= dayId %>/entries" method="POST">
    <label>
        New Entry: 
        <textarea name="content"></textarea>
    </label>
    <label>
        Category: 
        <input type="text" name="category">
    </label>
    <input type="submit" name="" value="Add Entry" />
</form>

<%- include('../partials/footer') %>