<%- include('../partials/header') %>

<div class="center-section">
    <div class="heading">
      <h2>Signup for the App</h2>
    </div>
    <div class="container">
        <form action="/users/signup" method="POST">
            <div class="first">
                <label>
                    <p>Username:</p> 
                    <input type="text" name="username" /><br />
                </label>
            </div>
            <div class="second">
                <label>
                    <p>Password:</p>
                    <input type="password" name="password" /><br />
                </label>
            </div>
            <input type="submit" value="Signup" />
        </form>
    </div>
  </div>


<%- include('../partials/footer') %>